body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(243, 228, 209);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.content-container{
    background-color: white;
}

.content{
    display: flex;
    width: 600px;
    gap: 30px;
}

.left{
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis:300px;
    
}

.right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:300px;
    
    
}

.content img{
    
    height: auto;
    width: 300px;
}

.first-heading{
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 6px;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}

.right h1 {
    font-size: 40px;
    line-height: 35px;
}


.right .description{

    color: grey;
    font-size: 18px;
    font-weight: 400;
    
}

.prices{
    display: flex;
    gap: 20px;
}

.prices .main-price{
    font-size: 36px;
    font-weight: 900;
    color: rgb(56, 156, 123);
}

.prices .discount-price{
    align-self: center;
    text-decoration: line-through;
    color: grey;
}

.add{
    background-color: rgb(56, 156, 123);
    color: white;
    width: 250px;
    border: none;
    border-radius: 7px;
    padding:20px 50px ;
    transition: 1s;

}

.button-container{
    flex:1;
    display: flex;
    align-items: center;
}

button:hover{
   background-color: rgb(29, 94, 73);
   transition: 1s; 
}


.attribution { 
    margin-top: 15px;
    font-size: 15px; 
    text-align: center; }

.attribution a { 
    color: hsl(228, 45%, 44%);
     }