body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(243, 228, 209);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.content-container{
    background-color: white;
}

.content{
    display: flex;
    width: 600px;
    gap: 30px;
}

.left{
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis:300px;
    
}

.right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis:300px;
    
}

.content img{
    
    height: auto;
    width: 300px;
}

.first-heading{
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 6px;
    font-family: 'Courier New', Courier, monospace;
    color: grey;
}

.right h1 {
    font-size: 40px;
    line-height: 35px;
}


.right .description{

    color: grey;
    font-size: 18px;
    font-weight: 400;
    
}

.prices{
    display: flex;
    gap: 50px;
}

.prices .main-price{
    font-size: 36px;
    font-weight: 900;
    color: rgb(56, 156, 123);
}